<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
        <p>Welcome, <%= user.name %></p>
        <a href="/logout" class="auth-btn">Logout</a>
    </header>

    <main>
        <div class="button-div">
            <button id="show-users">Show Users</button>
            <button id="show-tasks">Show Tasks</button>
        </div>

        <div id="data-container" style="display: none;">
            <button id="close-btn">
                <i class="fas fa-times"></i>
            </button>
            <div id="main-content" data-type="">
                <table>
                    <thead id="table-header"></thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>
        </div>
    </main>

    <script src="/js/adminScript.js"></script>
</body>
</html>
